<h1>Listing user_rks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_rks.each do |user_rk| %>
  <tr>
    <td><%= user_rk.name %></td>
    <td><%= user_rk.email %></td>
    <td><%= link_to 'Show', user_rk %></td>
    <td><%= link_to 'Edit', edit_user_rk_path(user_rk) %></td>
    <td><%= link_to 'Destroy', user_rk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User rk', new_user_rk_path %>
