<p id="notice"><%= notice %></p>

<p>
  <b>Rk name:</b>
  <%= @user_rk1.rk_name %>
</p>

<p>
  <b>Rk :</b>
  <%= @user_rk1.rk_ %>
</p>

<p>
  <b>Email:</b>
  <%= @user_rk1.email %>
</p>


<%= link_to 'Edit', edit_user_rk1_path(@user_rk1) %> |
<%= link_to 'Back', user_rk1s_path %>
